@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  padding: 12px 8rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th{
  height: 50px;
  background-color: #D6EAF8 !important;
}
td{
  height: 80px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}